<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="rack (rack)">
    <meta charset="UTF-8">
    <title th:text="${rack.nameRack}"></title>
  </head>

  <body>

    <h1>Стойка: <span th:text="${rack.nameRack}"></span></h1>

    <p>г. <span th:text="${premises.city}"></span>, ул. <span th:text="${premises.building}"></span>, п. <span th:text="${premises.room}"></span></p>

    <br>
    <p>Модель стойки: <span th:text="${rackModel.nameModelRack}"></span></p>
    <p>Высота unit: <span th:text="${rackModel.unitHeight}"></span></p>
    <p>Ширина оборудования: <span th:text="${rackModel.equipmentWidth}"></span></p>
    <p>Полезная глубина: <span th:text="${rackModel.usableDepth}"></span></p>
    <p>Тип двери: <span th:text="${rackModel.doorType}"></span></p>
    <p>Высота стойки: <span th:text="${rackModel.height}"></span></p>
    <p>Ширина стойки: <span th:text="${rackModel.width}"></span></p>
    <p>Глубина стойки: <span th:text="${rackModel.depth}"></span></p>
    <p>Производитель: <span th:text="${rackModel.manufacturer}"></span></p>
    <p>Максимальная нагрузка: <span th:text="${rackModel.maximumLoad}"></span></p>
    <br>

    <p>Фасад шкафа</p>

    <table style="border: 1px solid grey">

      <tr>
        <th style="min-width:150px; border: 1px solid grey; align:center">Оборудование</th>
        <th style="min-width:150px; border: 1px solid grey; align:center">Unit</th>
      </tr>

      <tr th:each="rackConfiguration : ${rackConfigurations}">

        <td
                th:text="${rackConfiguration.nameHardware}"
                th:if="${rackConfiguration.hardware != null}"
                th:rowspan="${rackConfiguration.hardware.requiredNumberUnits}"
                align="center" style="border: 1px solid grey" >
        </td>

          <td
                  th:text="${rackConfiguration.nameHardware}"
                  th:if="${rackConfiguration.powerCableLength == 101}"
                  align="center" style="border: 1px solid grey" >
          </td>

        <td
                th:text="${rackConfiguration.occupiedUnit}"
                align="center" style="border: 1px solid grey">
        </td>

        <td
                th:rowspan="${rackConfiguration.hardware.requiredNumberUnits}"
                th:if="${rackConfiguration.hardware != null}">
          <button
                  th:onclick="'window.location.href = \'' + @{/api/v1/hardware/{id}(id=${rackConfiguration.hardware.id})} + '\''"
                  th:if="${rackConfiguration.hardware != null}"
                  th:title="'Открыть характеристики оборудования: ' + ${rackConfiguration.hardware.nameHardware}">
            🛈
          </button>
        </td>

        <td
                th:rowspan="${rackConfiguration.hardware.requiredNumberUnits}"
                th:if="${rackConfiguration.hardware != null}">
          <button
                  th:onclick="'window.location.href = \'' + @{/api/v1/rack-configuration/delete/{id}(id=${rackConfiguration.id})} + '\''"
                  th:if="${rackConfiguration.hardware != null}"
                  th:title="'Убрать оборудование ' + ${rackConfiguration.hardware.nameHardware} + ' из стойки'">
            ⊗
          </button>
        </td>

    </table>

     <br>
    <button th:onclick="'window.location.href = \'' + @{/api/v1/rack-configuration/add/{id}(id=${rack.id})} + '\''">Добавить оборудование в стойку</button> <br><br>
    <button th:onclick="'window.location.href = \'' + @{/api/v1/connecting-hardware/add/{id}(id=${rack.id})} + '\''">Добавить блок питания в стойку</button> <br><br>
    <button th:onclick="'window.location.href = \'' + @{/api/v1/hardware/add/{id}(id=${rack.id})} + '\''">Добавить оборудование в базу</button> <br><br>
    <button th:onclick="'window.location.href = \'' + @{/api/v1/rack/delete/{id}(id=${rack.id})} + '\''">Удалить стойку</button>
  </body>

</html>